<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.RoleMapper">

    <!--查询所有角色-->
    <select id="findAllRole" resultType="com.lagou.domain.Role" parameterType="com.lagou.domain.Role">
        SELECT
            id,
            CODE,
            NAME,
            description,
            created_time,
            updated_time,
            created_by,
            updated_by
        FROM roles
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>

    <!--根据角色ID查询该角色关联的信息菜单ID-->
    <select id="findMenuByRoleId" resultType="int" parameterType="int">
        SELECT m.`id`FROM roles r LEFT JOIN role_menu_relation rm ON r.id = rm.`role_id`
            LEFT JOIN menu m ON rm.`menu_id` = m.`id` WHERE r.id = #{id}
    </select>

    <!--添加角色-->
    <insert id="saveRole" parameterType="com.lagou.domain.Role">
        insert into roles values(null,#{code},#{name},#{description},
            #{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>

    <!--根据roleId 清空 中间表的关联关系-->
    <delete id="deleteRoleContextMenu" parameterType="int">
        delete from role_menu_relation where role_id = #{rid}
    </delete>

    <!--角色菜单关联-->
    <insert id="roleContextMenu" parameterType="com.lagou.domain.Role_menu_relation">
        insert into role_menu_relation values(null,#{menuId},#{roleId},
            #{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!--删除角色-->
    <delete id="deleteRole" parameterType="int">
        delete from roles where id = #{roleId}
    </delete>





</mapper>